[submodule "third_party/WiringPi"]
	path = third_party/WiringPi
	url = git@github.com:WiringPi/WiringPi.git
[submodule "third_party/curl"]
	path = third_party/curl
	url = git@github.com:curl/curl.git
